.gide-box{
  text-align: center;
}
.gide-text{
  font-weight: bold;
}

.add-form-parent {
  width: 100%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.form-group {

  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;

}
.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 40px;
  font-weight: bold;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
}

.input-name{
  width: 40%;
}