.registration-in {
  width: 100vw;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 300px);
}

.signin-btn {
  margin: 0 auto;
  max-width: 180px;
  text-align: left;
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}
.signin-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}
.login-flash-message {
  text-align: center;
  color: red;
}
.form-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.form-text-wrap {
  width: 100%;
  height: 20%;
}
.form-text {
  font-size: 14px;
  font-weight: bold;
}
.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.child-a{
  margin-top: 120px;
  height: 70px;
  text-align: center;
  padding: auto ;
}
/* /
/
/ */
body {
  background-color: #808080;
}

form {
  width: 400px;
  padding: 40px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(161, 237, 238);
  text-align: center;
}

form h1,form p {
  color: white;
  font-weight: 500;
}

form p {
  font-size: 10px;
}

form input[type = "id"],form input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #ff69b4;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

form input[type = "id"],form input[type = "email"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #ff69b4;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

form input[type = "id"]:focus,form input[type = "password"]:focus {
  width: 280px;
  background-color: #f0f8ff;
}

form input[type = "id"]:focus,form input[type = "email"]:focus {
  width: 280px;
  background-color: #f0f8ff;
}

form input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #f0f8ff;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
}

form input[type = "submit"]:hover {
  background-color: #ff69b4;
  border: 2px solid #ff69b4;
}


form {
  text-align: center;
}

.login_form_btm {
  padding: 5px 0;
  background-color: #070707;
  margin: 10px 0;
}

input {
  width: 200px;
  padding: 3px;
  margin: 5px 0;
}